body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(220, 220, 220);
  }
  
  .board-row::after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 44px;
    font-weight: bold;
    line-height: 54px;
    height: 54px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 54px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .game-info {
    margin-bottom: 20px;
  }

  .square-winning {
    background-color: yellow;
  }

  .moves {
    margin-top: 20px;
    padding-right: 30px;
  }

  .move {
    width: 100px;
    padding: 5px;
    margin-bottom: 1px;
    background-color: silver;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

  .restart {
    margin-top: 20px;
  }
  
  .center {
    text-align: center;
  }